<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>Builder Version</key>
    <string>10600.2.5</string>
    <key>CFBundleDisplayName</key>
    <string>Extension Framework</string>
    <key>CFBundleIdentifier</key>
    <string>com.yourdomain.extension</string>
    <key>CFBundleInfoDictionaryVersion</key>
    <string>6.0</string>
    <key>CFBundleShortVersionString</key>
    <string>0.1.0</string>
    <key>CFBundleVersion</key>
    <string>0.1.0</string>
    <key>Chrome</key>
    <dict>
      <key>Database Quota</key>
      <real>1048576</real>
      <key>Global Page</key>
      <string>pages/background/background.html</string>
      <key>Popovers</key>
      <array>
        <dict>
          <key>Filename</key>
          <string>pages/popup/popup.html</string>
          <key>Height</key>
          <real>400</real>
          <key>Width</key>
          <real>400</real>
          <key>Identifier</key>
          <string>popup</string>
        </dict>
      </array>
      <key>Toolbar Items</key>
      <array>
        <dict>
          <key>Command</key>
          <string/>
          <key>Popover</key>
          <string>popup</string>
          <key>Identifier</key>
          <string>popupID</string>
          <key>Image</key>
          <string>menu-icons/icon-16.png</string>
          <key>Label</key>
          <string>Extension Framework</string>
        </dict>
      </array>
    </dict>
    <key>Website</key>
    <string>http://ext-js.org</string>
    <key>Author</key>
    <string>YOUR NAME</string>
    <key>Description</key>
    <string/>
    <key>Permissions</key>
    <dict>
      <key>Website Access</key>
      <dict>
        <key>Level</key>
        <string>All</string>
        <key>Include Secure Pages</key>
        <true/>
      </dict>
    </dict>
  </dict>
</plist>