<h1>Account</h1>

<div class="panel panel-default grid">
  <div class="panel-heading">Dashboard</div>

  <div class="panel-body">
    <h3>My Stuff</h3>
    <a href="account/my-plugins" class="tile text-primary col-md-3 col-xs-6">
      <i class="fa fa-puzzle-piece fa-4x"></i>
      <span>Plugins</span>
    </a>
  </div>

  <div class="panel-body">
    <h3>Settings</h3>
    <a href="account/profile" class="tile text-primary col-md-3 col-xs-6">
      <i class="fa fa-user fa-4x"></i>
      <span>Profile</span>
    </a>
    <a href="account/my-account" class="tile text-primary col-md-3 col-xs-6">
      <i class="fa fa-gears fa-4x"></i>
      <span>Settings</span>
    </a>
  </div>

</div>
