<div>

  <script type="text/html" class="view">

    <h1>My Plugins</h1>

    <div class="panel panel-default">
      <div class="panel-heading">Click to edit</div>
      <table class="table">
        <tbody class="plugins">
        </tbody>
      </table>
    </div>

    <button class="btn btn-primary newPlugin">Create Plugin</button>


    <!--edit plugin-->
    <div class="modal fade edit-plugin">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h4 class="modal-title">Plugin</h4>
          </div>
          <div class="modal-body">

            <form class="plugin">
              <div class="form-group">
                <input type="text" class="form-control name" placeholder="Plugin name">
              </div>
              <div class="form-group">
                <input type="file" class="form-control file">
              </div>
              <div class="form-group">
                <textarea class="form-control readme" rows="15" placeholder="Readme markdown..."></textarea>
              </div>
            </form>
          </div>

          <div class="modal-footer">
            <button class="delete btn btn-danger pull-left">Delete</button>
            <button class="cancel btn btn-default" >Cancel</button>
            <button class="save btn btn-primary">Save changes</button>
          </div>
        </div><!-- /.modal-content -->
      </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->


    <!--new plugin-->
    <div class="modal fade new-plugin">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h4 class="modal-title">Plugin</h4>
          </div>
          <div class="modal-body">

            <form class="plugin">
              <div class="form-group">
                <input type="text" class="form-control name" placeholder="Plugin name">
              </div>
              <div class="form-group">
                <input type="file" class="form-control file">
              </div>
              <div class="form-group">
                <textarea class="form-control readme" rows="15"></textarea>
              </div>
            </form>
          </div>

          <div class="modal-footer">
            <button class="cancel btn btn-default" >Cancel</button>
            <button class="save btn btn-primary">Save changes</button>
          </div>
        </div><!-- /.modal-content -->
      </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->

  </script>



  <script type="text/html" class="item">
    <tr>
      <td><a href="#">{{name}}</a></td>
    </tr>
  </script>


</div>
