html,
body{
  width: 100%;
  height: 100%;
  margin: 0 !important;
  padding: 0 !important;

  color: #000;

  background-color: #fff;
  font-family: 'Open Sans', sans-serif;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.page-wrap{
  display: inline-block;
  height: 99%;
  width: 100%;
}

.page{
  margin: 0;
  border: none;
  color: #333;
  display: inline-block;
  width: calc(~"100% - 300px");
  max-height: 100%;
  float: right;
  padding: 50px 18% 75px 75px;
  overflow: auto;
  -webkit-overflow-scrolling: touch;
}

.page *:first-child{
  margin-top: 0;
}

.button{
  cursor: pointer;
}

.chromeless {
  left: 0px;
  top: 0px;
  border: 0px;
  margin: 0px;
  padding: 0px;
}

.scrollable {
  overflow: auto;
  -webkit-overflow-scrolling: touch;
}
.noscroll {
  overflow: hidden;
}

.btn-file {
  position: relative;
  overflow: hidden;
}
.btn-file input[type=file] {
  position: absolute;
  top: 0;
  right: 0;
  min-width: 100%;
  min-height: 100%;
  font-size: 100px;
  text-align: right;
  filter: alpha(opacity=0);
  opacity: 0;
  outline: none;
  background: white;
  cursor: inherit;
  display: block;
}

.link,
table .link{
  cursor: pointer;
}

.grid{
  .tile{
    padding: 10px;
    text-align: center;
    background-color: #e6e9ed;
  }

  .tile > *{
    width: 100%;
  }
}

//tablets
@media only screen and (min-width:750px) and (max-width: 1100px) {
  .page{
    padding-right: 75px;
  }
}

//phones
@media only screen and (min-width:0px) and (max-width: 850px) {
  .page{
    position: relative;
    clear: both;
    width: 100%;
    height: auto;
    padding: 30px;
    overflow: visible;
  }

  .sidebar > .links{
    display: none;
  }

  .menu-icon-wrap {
    display: inline-block;
  }

  .page img{
    width: 100%;
  }
}

//printer
@media print
{
  body{
    overflow: visible !important;
    border: hidden !important;
  }

  .non-printable {
    display: none !important;
  }

  .printable {
    display: block !important;
    width: 100% !important;
    padding: none !important;
    margin: none !important;
  }

  pre{
    display: inline-block;
    width: auto;
    border: 2px solid #e6e9ed;
  }

  .page{
    width: 100% !important;
    padding: 0 !important;
    padding: 0 !important;
    overflow: visible !important;
  }
}
