<div>
  <script type="text/html" class="view">
    <h1>Search Plugins</h1>

    <form class="search-form form-horizontal">
      <div class="form-group">
        <div class="col-xs-12">
          <input type="text" class="form-control search" placeholder="Search" value="{{search}}" autofocus="">
        </div>
      </div>
    </form>

    <div class="panel panel-default">
      <div class="panel-heading">Search Results</div>
      <table class="table plugins">
        <thead>
          <tr>
            <th>Plugin</th>
            <th>Developer</th>
          </tr>
        </thead>
        <tbody>
        </tbody>
      </table>
    </div>
  </script>


  <script type="text/html" class="item">
    <tr>
      <td><a href='//ext-js.org/resources/plugin/{{link}}'>{{name}}</a></td>
      <td><a class='link' href='#'>{{developer}}</a></td>
    </tr>
  </script>
</div>
