<div>

  <script type="text/html" class="view">
    <h1>My Plugins</h1>
    <br>
    <div class="plugins"></div>
    <button class="btn btn-default newPlugin">New Plugin</button>
  </script>


  <script type="text/html" class="item">
    <div class="panel panel-default">
      <div class="panel-body">
        <form class="plugin">

          <div class="form-group">
            <label>Name</label>
            <input type="text" class="form-control name" placeholder="Plugin name" value="{{name}}">
          </div>
          <div class="form-group">
            <label>File</label>
            <input type="file" class="form-control file">
          </div>

          <div class="form-group">
            <label>Readme</label>
            <textarea class="form-control readme" rows="10">{{readme}}</textarea>
          </div>
          <button type="submit" class="btn btn-default">Update</button>
          <button class="delete btn btn-danger pull-right">Delete</button>
        </form>
      </div>
    </div>
  </script>


</div>
