<!DOCTYPE html>
<!-- This page is displayed when someone navigates to a verify email or reset password link
but their security token is wrong. This can either mean the user has clicked on a
stale link (i.e. re-click on a password reset link after resetting their password) or
(rarely) this could be a sign of a malicious user trying to tamper with your app.
-->
<html>
  <head>
    <title>Invalid Link</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="//ext-js.org/assets/libs/bootflat.min.css">
    <link rel="stylesheet" href="//ext-js.org/assets/css/github.css">
    <link rel="stylesheet" href="//ext-js.org/assets/css/markdown.css">
    <link rel="stylesheet" href="//ext-js.org/assets/css/reset.css">
    <link rel="stylesheet" href="//ext-js.org/assets/css/style.css">
    <link href='//fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,700,300,600,400' rel='stylesheet' type='text/css'>
    <style>
      html,
      body{
        height: auto;
        display: inline-block;
      }
    </style>
  </head>
  <body>
    <h1>Ahhhhhhhhhhh! Page not found</h1>

    <div class="embed-responsive embed-responsive-16by9">
      <iframe class='embed-responsive-item' src="http://www.youtube.com/embed/SIaFtAKnqBU?vq=hd720&amp;rel=0&amp;showinfo=0&amp;controls=0&amp;iv_load_policy=3&amp;loop=1&amp;playlist=SIaFtAKnqBU&amp;modestbranding=1&amp;autoplay=1"></iframe>
    </div>

  </body>
</html>
