<!DOCTYPE html>
<html>
  <!-- This page is displayed whenever someone has successfully reset their password.
Pro and Enterprise accounts may edit this page and tell Parse to use that custom
version in their Parse app. See the App Settigns page for more information.
This page will be called with the query param 'username'
-->
  <head>
    <title>Password Reset</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="//ext-js.org/assets/libs/bootflat.min.css">
    <link rel="stylesheet" href="//ext-js.org/assets/css/github.css">
    <link rel="stylesheet" href="//ext-js.org/assets/css/markdown.css">
    <link rel="stylesheet" href="//ext-js.org/assets/css/reset.css">
    <link rel="stylesheet" href="//ext-js.org/assets/css/style.css">
    <link href='//fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,700,300,600,400' rel='stylesheet' type='text/css'>
    <style>
      html,
      body{
        height: auto;
        display: inline-block;
      }
    </style>
  </head>
  <body>
    <h1>Successfully updated your password!</h1>
  </body>
</html>
